<!DOCTYPE html>
<html lang="UTF-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home/index.html}" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Color Page</title>

</head>

<body>
<!--Start layout-->
<div layout:fragment="content">
    <!--Content of the page-->
    <div class="content-wrapper">

        <!--Start Button And Modal Insert-->
        <div class="row">
            <div class="col-12 grid-margin">

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Thêm Màu Sắc
                </button>

                <!-- Insert Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm Màu Sắc</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <form action="/colors/" method="post">
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">Tên Màu Sắc:</label>
                                        <input type="text" name="colorName" class="form-control" id="recipient-name"
                                               placeholder="Nhập Vào Tên Màu Sắc">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy
                                        </button>
                                        <button type="submit" class="btn btn-primary">Thêm Mới</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End Insert Modal-->

            </div>
        </div>
        <!--End Button End Modal Insert-->

        <!--Start Table-->
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Danh Sách Màu</h4>
                        <h6 style="color: red" th:text="${message}"></h6>
                        <!--Start Table-->
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Màu Sắc</th>
                                    <th>Hành Động</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="color, loop : ${colors}">
                                        <td th:text="${loop.index + 1}"></td>
                                        <td th:text="${color.name}"></td>
                                        <td class="text-danger">
                                            <a th:href="@{'/colors/'+${color.id}}">
                                                <i class="ti-close" style="margin-right: 15px"></i>
                                            </a>
                                            <a class="updateClick" th:data="${color.id}"><i class="ti-pencil"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <!--End Table-->

                    </div>
                </div>
            </div>
        </div>
        <!--End Table-->

        <!--Modal Update-->
        <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="updateModalLabel">Cập Nhật Màu Sắc</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/colors/update" method="post">
                            <div class="mb-3">
                                <input hidden="hidden" name="colorId" id="updateId">
                                <label for="updateName" class="col-form-label">Tên Màu Sắc:</label>
                                <input type="text" name="colorName" class="form-control" id="updateName"
                                       placeholder="Enter color name">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy
                                </button>
                                <button type="submit" class="btn btn-primary">Cập Nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--End Modal Update-->

    </div>
    <!--End Content of the page-->

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.updateClick', function () {
                var colorId = $(this).attr('data');
                console.log(colorId);
                activity(colorId);
            });

            function activity(colorId) {
                $.ajax({
                    url: "/colors/detail/" + colorId,
                    type: "GET",
                    success: function (data) {
                        $('#updateName').val(data.name);
                        $('#updateId').val(data.id)// hoặc $('#testShow').html(data.name);
                        $('#updateModal').modal('show');
                    },
                    error: function () {
                        alert("Lỗi truy cập");
                    }
                });
            }
        });

    </script>
</div>
<!--End Layout-->
</body>
</html>
