<!DOCTYPE html>
<html lang="UTF-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home/index.html}" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Color Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div layout:fragment="content">
    <!--Start layout-->
    <!--Content of the page-->
    <div class="content-wrapper">
        <h3>List Of Danh Mục</h3>
        <div class="row">
            <div class="col-12 grid-margin">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Insert
                </button>

                <!-- Insert Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Insert Danh Mục</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/danh-muc/" method="post">
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">Danh Mục Name:</label>
                                        <input type="text" name="danhMucName" class="form-control" id="recipient-name"
                                               placeholder="Enter danh mục name">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Insert</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">List Danh Mục</h4>
<!--                        <h6 style="color: red" th:text="${message}"></h6>-->
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Danh Muc</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dm, index : ${danhmucs}">
                                    <td th:text="${index.count}"></td>
                                    <td th:text="${dm.name}"></td>
                                    <td class="text-danger">
                                        <a th:href="@{'/danh-muc/'+${dm.id}}">
                                            <i class="ti-close" style="margin-right: 15px"></i>
                                        </a>
                                        <a class="updateClick" th:data="${dm.id}"><i class="ti-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal Update-->
        <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="updateModalLabel">Update Danh Mục</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/danh-muc/update" method="post">
                            <div class="mb-3">
                                <input hidden="hidden" name="danhMucId" id="updateId">
                                <label for="updateName" class="col-form-label">Danh Mục Name:</label>
                                <input type="text" name="danhMucName" class="form-control" id="updateName"
                                       placeholder="Enter Danh Mục name">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.updateClick', function () {
                var danhMucId = $(this).attr('data');
                console.log(danhMucId);
                activity(danhMucId);
            });

            function activity(danhMucId) {
                $.ajax({
                    url: "/danh-muc/detail/" + danhMucId,
                    type: "GET",
                    success: function (data) {
                        $('#updateName').val(data.name);
                        $('#testShow').text(data.name);
                        $('#updateId').val(data.id)// hoặc $('#testShow').html(data.name);
                        $('#updateModal').modal('show');
                    },
                    error: function () {
                        alert("Lỗi truy cập");
                    }
                });
            }
        });

    </script>

    <!--End Layout-->
</div>
</body>
</html>
