<!DOCTYPE html>
<html lang="UTF-8"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{home/index.html}" xmlns:form="http://www.w3.org/1999/html"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div layout:fragment="content">

    <div class="content-wrapper">
        <h3>List Of Fabric</h3>
        <div class="row">
            <div class="col-12 grid-margin">
                <div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Insert
                    </button>
                    <button data-bs-toggle="modal" data-bs-target="#exampleModal_update" class="btn btn-warning" th:text="'Update ' + ${fabric.name}" th:hidden="${fabric.id == null}"  ></button>
                </div>
                <!-- Insert Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Insert Fabric</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/fabrics/" method="post">
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">Fabric Name:</label>
                                        <input type="text" name="fabricName" class="form-control" id="recipient-name"
                                               placeholder="Enter fabric name">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Insert</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Update Modal -->

        <div class="modal fade" id="exampleModal_update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel_update">Fabric Detail</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/fabrics/update}" th:object="${fabric}" method="post">
                            <input type="hidden" th:field="*{id}" />
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Fabric Name:</label>
                                <input type="text" name="name" th:field="*{name}"  class="form-control" id="recipient-name-update"
                                       placeholder="Enter sole name">
                            </div>

                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label" th:text="'Create at: ' + ${fabric.getCreated_at()}"> </label>

                            </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">List Fabric</h4>
                        <h6 style="color: red" th:text="${message}"></h6>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Fabric</th>
                                    <th>Created At</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="fabric, loop : ${fabrics}">
                                    <td th:text="${loop.index + 1}"></td>
                                    <td th:text="${fabric.name}"></td>
                                    <td th:text="${#temporals.format(fabric.created_at, 'dd-MM-yyyy')}"></td>
                                    <td class="text-danger">
                                        <a th:href="@{'/fabrics/delete/'+${fabric.id}}">
                                            <i class="ti-close" style="margin-right: 15px"></i>
                                        </a>
                                        <!--                                        data-bs-toggle="modal" data-bs-target="#exampleModal_update"-->
                                        <a th:href="@{'/fabrics/detail/'+${fabric.id}}"  >
                                            <i class="ti-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>