<!DOCTYPE html>
<html lang="UTF-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home/index.html}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bán hàng tại quầy</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div layout:fragment="content">
    <div class="page-wrapper mt-5" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6"
         data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed" style="height: 400px">
        <div class="body-wrapper" style="width: 1900px; margin-left: 10px;">
            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-8 d-flex align-items-strech">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                    <div class="mb-3 mb-sm-0">
                                        <h3 class="card-title fw-semibold">Quản lý hóa đơn</h3>
                                    </div>
                                    <div>
                                        <form action="/homepage/createOrder" method="post">
                                            <button type="submit" class="btn btn-success">Tạo giỏ hàng</button>
                                        </form>
                                    </div>
                                </div>
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a th:each="order, index : ${orders}"
                                           class="nav-link btn selectOrder"
                                           th:classappend="${index.index == 0} ? ' active' : ''"
                                           th:id="'nav-home-tab-' + ${index.index}" data-bs-toggle="tab"
                                           th:data-bs-target="'#nav-home-' + ${index.index}" type="button"
                                           role="tab"
                                           th:aria-controls="'nav-home-' + ${index.index}"
                                           th:aria-selected="${index.index == 0} ? 'true' : 'false'"
                                           th:data="${order.id}"
                                        >
                                            <span th:text="${order.id != null ? 'HD' + order.id : '###'}"></span>
                                        </a>
                                    </div>
                                </nav>
                                <a class="btn btn-success mt-3 " style="margin-left: 890px;margin-bottom: 10px" data-bs-toggle="modal"
                                   data-bs-target="#exampleModal">Thêm sản phẩm</a>
                                <div class="text-center d-flex align-items-center justify-content-center">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Product Name</th>
                                                <th>Color Name</th>
                                                <th>Size Name</th>
                                                <th>Brand Name</th>
                                                <th>Category Name</th>
                                                <th>Fabric Name</th>
                                                <th>Sole Name</th>
                                                <th>Quantity</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table_orderdetail">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-bottom: 200px">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Danh sách sản phẩm chi tiết</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Kích cỡ</th>
                            <th>Đơn giá</th>
                            <th>Số Lượng</th>
                            <th>Hành Động</th>
                        </tr>
                        </thead>
                        <tbody th:each="productdetail, index : ${productdetails}">
                        <tr>
                            <td th:text="${index.count}"></td>
                            <td th:text="${productdetail.id}" hidden></td>
                            <td>
                                [[${productdetail.categoryName}]]
                                [[${productdetail.brandName}]]
                                [[${productdetail.productName}]]
                                [[${productdetail.colorName}]]
                                [[${productdetail.fabricName}]]
                            </td>
                            <td th:text="${productdetail.sizeName}"></td>
                            <td th:text="${productdetail.price}"></td>
                            <td th:text="${productdetail.quantity}"></td>
                            <th>
                                <form method="post" th:action="@{/homepage/createCartDetail}">
                                    <input type="hidden" name="orderId" class="orderDetailId" />
                                    <input type="hidden" name="productDetailId" th:value="${productdetail.id}" />
                                    <input type="hidden" name="quantity" value="1" />
                                    <button type="submit" class="btn btn-success">Mua</button>
                                </form>
                            </th>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="page-wrapper mt-5" id="main-wrapper2" data-layout="vertical" data-navbarbg="skin6"
         data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="body-wrapper" style="width: 1900px; margin-left: 10px;">
            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-8 d-flex align-items-strech">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                    <div class="mb-3 mb-sm-0">
                                        <h3 class="card-title fw-semibold mt-3">Thông tin thanh toán</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        $(document).ready(function (){
            $(document).on('click', '.selectOrder', function (){
                var orderId = $(this).attr('data');
                order(orderId);
                orderDetail(orderId);  // Gọi hàm để lấy danh sách OrderDetail
            });


            function order(orderId) {
                $.ajax({
                    url: '/homepage/order/' + orderId,
                    type: "GET",
                    success: function (data) {
                        $('.orderDetailId').val(data.id);  // Sửa đổi selector ở đây nếu cần
                    },
                    error: function () {
                        alert("Loi don hang");
                    }
                });
            }

            function orderDetail(orderId){
                $.ajax({
                    url: '/homepage/orderDetail/' + orderId,  // Chỉnh sửa URL nếu cần
                    type: "GET",
                    success:function (data){
                        var tbody = $('.table_orderdetail');
                        tbody.empty();  // Xóa nội dung hiện tại của tbody
                        // Duyệt qua dữ liệu và thêm vào bảng
                        $.each(data, function(index, od) {
                            var row = '<tr>' +
                                '<th>' + (index + 1) + '</th>' +
                                '<td>' + od.productName + '</td>' +
                                '<td>' + od.colorName + '</td>' +
                                '<td>' + od.sizeName + '</td>' +
                                '<td>' + od.brandName + '</td>' +
                                '<td>' + od.categoryName + '</td>' +
                                '<td>' + od.fabricName + '</td>' +
                                '<td>' + od.soleName + '</td>' +
                                '<td>' + od.quantity + '</td>' + +
                                '</tr>';
                            tbody.append(row);
                        });
                    },
                    error:function (){
                        alert("Loi san pham");
                    }
                });
            }
        });
    </script>

</div>

</body>
</html>
