<!doctype html>
<html lang="UTF-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home/index.html}" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Select2 CSS -->
    <link rel="stylesheet" href="/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">

    <!-- Include Select2 JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <!-- Your custom CSS -->
    <link rel="stylesheet" href="/css/home/shoe.css">
    <title>Shoe Page</title>

</head>
<body>
    <!--Start Layout-->
    <div layout:fragment="content">
        <!--Content of the page-->
        <div class="content-wrapper">

            <!--Search Input And Form-->
            <div class="row">
                <div class="col-12 grid-margin">

                    <h3>Tìm Kiếm</h3>
                    <div class="input-group mb-1">
                        <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm theo tên..."
                               aria-label="Username">
                        <button id="show-form-btn">
                          <span class="span-mother">
                                <span>I</span>
                                <span>n</span>
                                <span>s</span>
                                <span>e</span>
                                <span>r</span>
                                <span>t</span>
                          </span><span class="span-mother2">
                                 <span>I</span>
                                <span>n</span>
                                <span>s</span>
                                <span>e</span>
                                <span>r</span>
                                <span>t</span>
                          </span>
                        </button>
                    </div>

                    <!--form-->
                    <div id="form-section" class="card">
                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="card-title">Thêm Mới Sản Phẩm</h4>
                                  <form class="form-sample" action="#" th:action="@{/shoes/}" th:object="${product}"  method="post">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Name</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" id="nameShoe" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Color</label>
                                                    <div class="col-sm-9">
                                                        <select id="colorSelect" class="js-example-basic-multiple w-100"
                                                                style="width: 440px" multiple="multiple">
<!--                                                            <option>Red</option>-->
<!--                                                            <option>White</option>-->
<!--                                                            <option>Blue</option>-->
<!--                                                            <option>Green</option>-->
                                                            <option th:each="color : ${colors}" th:value="${color.id}" th:text="${color.name}"></option>

<!--                                                                <option th:each="color:${colors}" value="${color.id}">${color.name}</option>-->
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Brand</label>
                                                    <div class="col-sm-9">
                                                        <select id="brandId" name="brand" class="form-control" >
<!--                                                            <option>Nike</option>-->
<!--                                                            <option>Puma</option>-->

                                                                <option value="" disabled selected>Select a brand</option>
                                                                <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.brandName}"></option>
<!--                                                                <option value="${brand.id}">${brand.name}</option>-->
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Size</label>
                                                    <div class="col-sm-9">
                                                        <select id="sizeSelect" class="js-example-basic-multiple w-100"
                                                                style="width: 440px" multiple="multiple">
<!--                                                            <option>37</option>-->
<!--                                                            <option>38</option>-->
<!--                                                            <option>39</option>-->
<!--                                                            <option>40</option>-->
<!--                                                            <option>41</option>-->
                                                            <option th:each="size : ${sizes}" th:value="${size.id}" th:text="${size.name}"></option>


<!--                                                                <option value="${size.id}">${size.name}</option>-->
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Category</label>
                                                    <div class="col-sm-9">
                                                        <select id="categoryId" class="form-control">
                                                            <option value="" disabled selected>Select a category</option>
                                                            <option th:each="category : ${danhmucs}" th:value="${category.id}" th:text="${category.name}"></option>
<!--                                                                <option value="${cat.id}">${cat.name}</option>-->
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body" >
                                            <div class="table-responsive">
                                                <table id="shoeVariantsTable" class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>Tên</th>
                                                        <th >Số Lượng</th>
                                                        <th >Đơn Giá</th>

                                                        <th>Size</th>
                                                        <th>Màu sắc</th>
                                                        <th>Ảnh</th>
                                                        <th>Hành động</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="productDetailsBody">
                                                    <!-- Các dòng sẽ được thêm bằng mã JavaScript sau khi nhận dữ liệu từ server -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                          <button type="submit" class="btn btn-primary me-2" id="add-product-button">Thêm Mới</button>

                                        <button type="button" class="btn btn-light" id="cancel-btn">Hủy</button>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Form-->
                </div>
            </div>
            <!--End Search Input-->

            <!--Search Combobox-->
            <div class="row">
                <div class="combobox-group">
                    <div class="form-group">
                        <label for="brand">Brand:</label>
                        <select class="form-control" id="brand">
                            <option value="">-------</option>
                            <option value="Nike">Nike</option>
                            <!-- Add more options here -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="category">Category:</label>
                        <select class="form-control" id="category">
                            <option value="">-------</option>
                            <option value="Man">Man</option>
                            <!-- Add more options here -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="size">Size:</label>
                        <select class="form-control" id="size">
                            <option value="">-------</option>
                            <option value="32">32</option>
                            <!-- Add more options here -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="color">Color:</label>
                        <select class="form-control" id="color">
                            <option value="">-------</option>
                            <option value="Red">Red</option>
                            <!-- Add more options here -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="soleType">Loại đế:</label>
                        <select class="form-control" id="soleType">
                            <option value="">-------</option>
                            <option value="Nhựa">Nhựa</option>
                            <!-- Add more options here -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fabricType">Loại vải:</label>
                        <select class="form-control" id="fabricType">
                            <option value="">-------</option>
                            <option value="Cotton">Cotton</option>
                            <!-- Add more options here -->
                        </select>
                    </div>
                </div>
            </div>
            <!--End Search Combobox-->

            <!--table-->
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Danh Sách Sản Phẩm</h4>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Ảnh</th>
                                        <th>Mã</th>
                                        <th>Tên</th>
                                        <th>Màu</th>
                                        <th>Kích Thước</th>
                                        <th>Đơn Giá</th>
                                        <th>Số Lượng</th>
                                        <th>Trạng Thái</th>
                                        <th>Hàng Động</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                            <tr th:each="productdetail : ${productdetais}">
                                                <td>
                                                    <img src="">
                                                </td>
                                                <td th:text="${productdetail.id}"></td>
                                                <td th:text="${productdetail.product.productName}"></td>
                                                <td th:text="${productdetail.color.name}"></td>
                                                <td th:text="${productdetail.size.name}"></td>
                                                <td th:text="${productdetail.salePrice}"></td>
                                                <td th:text="${productdetail.quantity}"></td>
                                                <td>
                                                    <label th:classappend="${productdetail.status == 1} ? 'badge badge-success' : 'badge badge-danger'"
                                                           th:text="${productdetail.status == 1} ? 'Đang bán' : 'Ngừng bán'"></label>
                                                </td>
                                                <td class="text-danger"><i class="ti-close"
                                                                           style="margin-right: 15px"></i>
                                                    <i class="ti-pencil"></i></td>

                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Table-->

        </div>
        <!--End Content of the page-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- JavaScript của Select2 -->
        <script src="/vendors/select2/select2.min.js"></script>
        <script src="/js/select2.js"></script>


        <script type="text/javascript">
           $(document).ready(function () {
               // Hiện form khi click nút Insert
               $('#show-form-btn').on('click', function () {
                   $('#form-section').css('display', 'block');
                   $('#colorSelect, #sizeSelect').select2();
                   console.log("Form hiển thị và Select2 đã được khởi tạo.");
               });

               // Ẩn form khi click nút Cancel
               $('#cancel-btn').on('click', function () {
                   $('#form-section').css('display', 'none');
               });


           })
        </script>

<!--  Js lưu thông tin sản phẩm    -->
            <script>
                document.getElementById('add-product-button').addEventListener('click', function() {
                    addNewProducts();
                });

                function convertToBase64(file) {
                    return new Promise((resolve, reject) => {
                        const reader = new FileReader();
                        reader.onloadend = () => resolve(reader.result);
                        reader.onerror = reject;
                        reader.readAsDataURL(file);
                    });
                }

                // function addNewProducts() {
                //     var productName = $('#nameShoe').val();
                //     var categoryId = $('#categoryId').val();
                //     var brandId = $('#brandId').val();
                //     var details = [];
                //
                //     var sizeSelect = document.getElementById('sizeSelect');
                //     var colorSelect = document.getElementById('colorSelect');
                //     Array.from(sizeSelect.selectedOptions).forEach(function (sizeOption) {
                //         Array.from(colorSelect.selectedOptions).forEach(function (colorOption) {
                //            // var imageInput = document.querySelector(`[name='productImage'][data-size='${sizeOption.value}'][data-color='${colorOption.value}']`);
                //             const imageInput = document.querySelector(`input[name='productImage'][data-size='${sizeOption.value}'][data-color='${colorOption.value}']`);
                //             let base64Image = '';
                //             imageInput.addEventListener('change', function(event) {
                //                 const file = event.target.files[0];
                //                 const reader = new FileReader();
                //
                //                 reader.onload = function(event) {
                //                      base64Image = event.target.result;
                //                     // Gán giá trị base64 vào detail
                //                     detail.productImageBase64 = file;
                //                 };
                //
                //                 reader.readAsDataURL(file);
                //             });
                //             let detail = {
                //                 sizeId: sizeOption.value,
                //                 colorId: colorOption.value,
                //                 quantity: parseInt(document.querySelector(`[name='quantity'][data-size='${sizeOption.value}'][data-color='${colorOption.value}']`).value),
                //                 salePrice: parseFloat(document.querySelector(`[name='price'][data-size='${sizeOption.value}'][data-color='${colorOption.value}']`).value),
                //                 productCode: '', // Add appropriate value
                //                 description: '', // Add appropriate value
                //                 productImageBase64: base64Image,//convertToBase64(imageInput), // Add appropriate value
                //                 status: 1 // Set appropriate status
                //             };
                //             details.push(detail);
                //         });
                //     });
                //
                //     var productRequest = {
                //         productName: productName,
                //         categoryId: categoryId,
                //         brandId: brandId,
                //         materialId: '1', // Set appropriate value
                //         soleMaterialId: '3', // Set appropriate value
                //         status: 1, // Set appropriate status
                //         details: details
                //     };
                //
                //     console.log('Product request:', productRequest);
                //
                //         // fetch('http://localhost:8080/shoes/', {
                //         //     method: 'POST',
                //         //     headers: {
                //         //         'Content-Type': 'application/json'
                //         //     },
                //         //     body: JSON.stringify(productRequest)
                //         // })
                //         //     .then(response => {
                //         //         if (response.ok) {
                //         //             // Chuyển hướng người dùng sau khi thêm thành công
                //         //             window.location.href = "/shoes/";
                //         //         } else {
                //         //             throw new Error('Network response was not ok.');
                //         //         }
                //         //     })
                //         //     .then(data => {
                //         //         console.log('Response from server:', data);
                //         //         // Xử lý kết quả từ server (nếu cần)
                //         //     })
                //         //     .catch(error => console.error('Error:', error));
                //
                // }
                function addNewProducts() {
                    var productName = $('#nameShoe').val();
                    var categoryId = $('#categoryId').val();
                    var brandId = $('#brandId').val();
                    var sizeSelect = document.getElementById('sizeSelect');
                    var colorSelect = document.getElementById('colorSelect');
                    var detailsPromises = [];

                    Array.from(sizeSelect.selectedOptions).forEach(function (sizeOption) {
                        Array.from(colorSelect.selectedOptions).forEach(function (colorOption) {
                            const imageInput = document.querySelector(`input[name='productImage'][data-size='${sizeOption.value}'][data-color='${colorOption.value}']`);
                            let base64Image = '';

                            let detailPromise = new Promise((resolve, reject) => {
                                if (imageInput && imageInput.files.length > 0) {
                                    const file = imageInput.files[0];
                                    const reader = new FileReader();

                                    reader.onload = function(event) {
                                        base64Image = event.target.result;
                                        let detail = {
                                            sizeId: sizeOption.value,
                                            colorId: colorOption.value,
                                            quantity: parseInt(document.querySelector(`[name='quantity'][data-size='${sizeOption.value}'][data-color='${colorOption.value}']`).value),
                                            salePrice: parseFloat(document.querySelector(`[name='price'][data-size='${sizeOption.value}'][data-color='${colorOption.value}']`).value),
                                            productCode: '', // Add appropriate value
                                            description: '', // Add appropriate value
                                            src_img: base64Image,
                                            status: 1 // Set appropriate status
                                        };
                                        resolve(detail);
                                    };

                                    reader.onerror = function(event) {
                                        reject(event);
                                    };

                                    reader.readAsDataURL(file);
                                } else {
                                    let detail = {
                                        sizeId: sizeOption.value,
                                        colorId: colorOption.value,
                                        quantity: parseInt(document.querySelector(`[name='quantity'][data-size='${sizeOption.value}'][data-color='${colorOption.value}']`).value),
                                        salePrice: parseFloat(document.querySelector(`[name='price'][data-size='${sizeOption.value}'][data-color='${colorOption.value}']`).value),
                                        productCode: '', // Add appropriate value
                                        description: '', // Add appropriate value
                                        src_img: '', // No image selected
                                        status: 1 // Set appropriate status
                                    };
                                    resolve(detail);
                                }
                            });

                            detailsPromises.push(detailPromise);
                        });
                    });

                    Promise.all(detailsPromises).then((details) => {
                        let productRequest = {
                            productName: productName,
                            categoryId: categoryId,
                            brandId: brandId,
                            materialId: '1', // Set appropriate value
                            soleMaterialId: '3', // Set appropriate value
                            status: 1, // Set appropriate status
                            details: details
                        };

                        console.log('Product request:', productRequest);

                        fetch('http://localhost:8080/shoes/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(productRequest)
                        })
                            .then(response => {
                                if (response.ok) {
                                    // Chuyển hướng người dùng sau khi thêm thành công
                                    window.location.href = "/shoes/";
                                } else {
                                    throw new Error('Network response was not ok.');
                                }
                            })
                            .then(data => {
                                console.log('Response from server:', data);
                                // Xử lý kết quả từ server (nếu cần)
                            })
                            .catch(error => console.error('Error:', error));
                    }).catch((error) => {
                        console.error('Error processing image files', error);
                    });
                }
                // function addNewProducts() {
                //     var form = document.getElementById('productForm');
                //     var formData = new FormData(form);
                //
                //     var productName = $('#nameShoe').val();
                //     var categoryId = $('#categoryId').val();
                //     var brandId = $('#brandId').val();
                //     var details = [];
                //
                //     var sizeSelect = document.getElementById('sizeSelect');
                //     var colorSelect = document.getElementById('colorSelect');
                //
                //     Array.from(sizeSelect.selectedOptions).forEach(function (sizeOption) {
                //         Array.from(colorSelect.selectedOptions).forEach(function (colorOption) {
                //             const imageInput = document.querySelector(`input[name='productImage'][data-size='${sizeOption.value}'][data-color='${colorOption.value}']`);
                //             let base64Image = '';
                //
                //             let detail = {
                //                 sizeId: sizeOption.value,
                //                 colorId: colorOption.value,
                //                 quantity: parseInt(document.querySelector(`[name='quantity'][data-size='${sizeOption.value}'][data-color='${colorOption.value}']`).value),
                //                 salePrice: parseFloat(document.querySelector(`[name='price'][data-size='${sizeOption.value}'][data-color='${colorOption.value}']`).value),
                //                 productCode: '', // Add appropriate value
                //                 description: '', // Add appropriate value
                //                 productImageBase64: base64Image,// convertToBase64(imageInput), // Add appropriate value
                //                 status: 1 // Set appropriate status
                //             };
                //
                //             if (imageInput && imageInput.files.length > 0) {
                //                 const file = imageInput.files[0];
                //                 const reader = new FileReader();
                //
                //                 reader.onload = function(event) {
                //                     base64Image = event.target.result;
                //                     detail.productImageBase64 = base64Image;
                //                     details.push(detail);
                //                     // Append each detail to formData
                //                     formData.append('details', JSON.stringify(detail));
                //                 };
                //
                //                 reader.readAsDataURL(file);
                //             } else {
                //                 details.push(detail);
                //                 // Append each detail to formData
                //                 formData.append('details', JSON.stringify(detail));
                //             }
                //         });
                //     });
                //
                //     formData.append('productName', productName);
                //     formData.append('categoryId', categoryId);
                //     formData.append('brandId', brandId);
                //     formData.append('materialId', '1'); // Set appropriate value
                //     formData.append('soleMaterialId', '3'); // Set appropriate value
                //     formData.append('status', 1); // Set appropriate status
                //
                //     console.log('FormData:', formData);
                //
                //     fetch('http://localhost:8080/shoes/', {
                //         method: 'POST',
                //         body: formData
                //     })
                //         .then(response => {
                //             if (response.ok) {
                //                 window.location.href = "/shoes/";
                //             } else {
                //                 throw new Error('Network response was not ok.');
                //             }
                //         })
                //         .then(data => {
                //             console.log('Response from server:', data);
                //         })
                //         .catch(error => console.error('Error:', error));
                // }



            </script>

    </div>
    <!--End Layout-->


</body>
</html>