<!doctype html>
<html lang="UTF-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home/index.html}" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Include jQuery -->
    <!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->

    <!-- Include Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
    <!--    <link rel="stylesheet" href="/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">-->


    <!-- Include Select2 JavaScript -->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>-->

    <!-- Your custom CSS -->
    <link rel="stylesheet" href="/css/home/shoe.css">
    <title>Shoe Page</title>

</head>
<body>
<!--Start Layout-->
<div layout:fragment="content">
    <!--Content of the page-->
    <div class="content-wrapper">

        <!--Search Input And Form-->
        <div class="row">
            <div class="col-12 grid-margin">

                <h3>Tìm Kiếm</h3>
                <div class="input-group mb-1">
                    <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm theo tên..."
                           aria-label="Username">
                    <button id="show-form-btn">
                          <span class="span-mother">
                                <span>I</span>
                                <span>n</span>
                                <span>s</span>
                                <span>e</span>
                                <span>r</span>
                                <span>t</span>
                          </span><span class="span-mother2">
                                 <span>I</span>
                                <span>n</span>
                                <span>s</span>
                                <span>e</span>
                                <span>r</span>
                                <span>t</span>
                          </span>
                    </button>
                </div>

                <!--form-->
                <div id="form-section" class="card">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">Thêm Mới Sản Phẩm</h4>
                                <form class="form-sample">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="nameShoe" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Color</label>
                                                <div class="col-sm-9">
                                                    <select id="colorSelect" class="js-example-basic-multiple w-100"
                                                            style="width: 440px" multiple="multiple">
                                                        <option>Red</option>
                                                        <option>White</option>
                                                        <option>Blue</option>
                                                        <option>Green</option>
                                                        <!--                                                                <option th:each="color:${colors}" value="${color.id}">${color.name}</option>-->
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Brand</label>
                                                <div class="col-sm-9">
                                                    <select id="brandId" class="form-control">
                                                        <option>Nike</option>
                                                        <option>Puma</option>
                                                        <!--                                                        <option value="${b.id}">${b.name}</option>-->
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Size</label>
                                                <div class="col-sm-9">
                                                    <select id="sizeSelect" class="js-example-basic-multiple w-100"
                                                            style="width: 440px" multiple="multiple">
                                                        <option>37</option>
                                                        <option>38</option>
                                                        <option>39</option>
                                                        <option>40</option>
                                                        <option>41</option>
                                                        <!--                                                                <option value="${size.id}">${size.name}</option>-->
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Category</label>
                                                <div class="col-sm-9">
                                                    <select id="categoryId" class="form-control">
                                                        <option>Women</option>
                                                        <option>Man</option>
                                                        <!--                                                                <option value="${cat.id}">${cat.name}</option>-->
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="shoeVariantsTable" class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Tên</th>
                                                    <th>Số Lượng</th>
                                                    <th>Đơn Giá</th>
                                                    <th>Danh Mục</th>
                                                    <th>Thương Hiệu</th>
                                                    <th></th>
                                                    <th>Ảnh</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <!-- Các dòng sẽ được thêm bằng mã JavaScript sau khi nhận dữ liệu từ server -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary me-2">Thêm Mới</button>
                                    <button type="button" class="btn btn-light" id="cancel-btn">Hủy</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!--End Form-->
            </div>
        </div>
        <!--End Search Input-->

        <!--Search Combobox-->
        <div class="row">
            <div class="combobox-group">
                <div class="form-group">
                    <label for="brand">Brand:</label>
                    <select class="form-control" id="brand">
                        <option value=" ">-------</option>
                        <option th:each="brand:${brands}" th:text="${brand.name}" th:value="${brand.id}"></option>
                        <!-- Add more options here -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="category">Category:</label>
                    <select class="form-control" id="category">
                        <option value=" ">-------</option>
                        <option th:each="cat:${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                        <!-- Add more options here -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="size">Size:</label>
                    <select class="form-control" id="size">
                        <option value=" ">-------</option>
                        <option th:each="size:${sizes}" th:value="${size.id}" th:text="${size.name}"></option>
                        <!-- Add more options here -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="color">Color:</label>
                    <select class="form-control" id="color">
                        <option value=" ">-------</option>
                        <option th:each="color:${colors}" th:value="${color.id}" th:text="${color.name}"></option>
                        <!-- Add more options here -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="soleType">Loại đế:</label>
                    <select class="form-control" id="soleType">
                        <option value=" ">-------</option>
                        <option th:each="sole:${soles}" th:value="${sole.id}" th:text="${sole.name}">Nhựa</option>
                        <!-- Add more options here -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="fabricType">Loại vải:</label>
                    <select class="form-control" id="fabricType">
                        <option value=" ">-------</option>
                        <option th:each="fabric:${fabrics}" th:value="${fabric.id}" th:text="${fabric.name}">Cotton
                        </option>
                        <!-- Add more options here -->
                    </select>
                </div>
            </div>
        </div>
        <!--End Search Combobox-->

        <div th:if="${error}" class="alert alert-danger">
            <h5 th:text="${error}"></h5>
        </div>

        <!--table-->
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Danh Sách Sản Phẩm</h4>
                        <div class="table-responsive">
                            <table class="table table-hover" id="product-table">
                                <thead>
                                <tr>
                                    <th>Ảnh</th>
                                    <th>Mã</th>
                                    <th>Tên</th>
                                    <th>Màu</th>
                                    <th>Kích Thước</th>
                                    <th>Đơn Giá</th>
                                    <th>Số Lượng</th>
                                    <th>Trạng Thái</th>
                                    <th>Hàng Động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="sdt:${shoeDetails}">
                                    <td>
                                        <img src="">
                                    </td>
                                    <td th:text="${sdt.productCode}"></td>
                                    <td th:text="${sdt.productOB.productName}"></td>
                                    <td th:text="${sdt.color.name}"></td>
                                    <td th:text="${sdt.size.name}"></td>
                                    <td th:text="${sdt.price}"></td>
                                    <td th:text="${sdt.quantity}"></td>
                                    <td th:text="${sdt.status == 1?'Hoạt Động':'Nghỉ'}"></td>
                                    <td class="text-danger">
                                        <a th:href="@{'/shoes/'+ ${sdt.id}}"
                                           onclick="showDeleteModal(this.href); return false;">
                                            <i class="ti-close" style="margin-right: 15px"></i>
                                        </a>
                                        <a><i class="fas fa-edit"></i>

                                        </a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Table-->

        <!-- Modal confirm delete -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Xác nhận xóa sản phẩm</h1>
                    </div>
                    <div class="modal-body">
                        Bạn có chắc chắn muốn xóa sản phẩm này kkhông ?
                    </div>
                    <div class="modal-footer">
                        <form id="deleteForm" method="get">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Xóa</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Content of the page-->


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- JavaScript của Select2 -->
    <script src="/vendors/select2/select2.min.js"></script>
    <script src="/js/select2.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#brand, #category, #size, #color, #soleType, #fabricType').on('change', function () {
                // Gọi hàm để gửi yêu cầu Ajax khi có thay đổi
                filterProducts();
            });


            function filterProducts() {
                // Lấy các giá trị đã chọn từ các select dropdown
                var brandId = $('#brand').val();
                var categoryId = $('#category').val();
                var sizeId = $('#size').val();
                var colorId = $('#color').val();
                var soleTypeId = $('#soleType').val();
                var fabricTypeId = $('#fabricType').val();

                // Gửi yêu cầu Ajax
                $.ajax({
                    type: 'GET',
                    url: '/shoes/filter-products', // Đường dẫn đến endpoint xử lý lọc sản phẩm của bạn
                    data: {
                        brandId: brandId,
                        categoryId: categoryId,
                        sizeId: sizeId,
                        colorId: colorId,
                        soleTypeId: soleTypeId,
                        fabricTypeId: fabricTypeId
                    },
                    success: function (response) {
                        console.log(response);
                        // Xử lý dữ liệu trả về từ yêu cầu Ajax
                        // Ví dụ: cập nhật bảng sản phẩm hoặc danh sách sản phẩm lọc
                        updateProductTable(response);
                    },
                    error: function (error) {
                        console.error('Error filtering products:', error);
                    }
                });
            }

            function updateProductTable(products) {
                // Xóa các hàng sản phẩm hiện tại trong bảng
                $('#product-table tbody').empty();

                console.log(products);

                // Thêm lại các hàng sản phẩm mới từ dữ liệu đã lọc
                products.forEach(function (product) {
                    console.log(product)
                    var row = '<tr>' +
                        '<td><img src="' + product.image + '"></td>' +
                        '<td>' + product.productCode + '</td>' +
                        '<td>' + product.productOB.productName + '</td>' +
                        '<td>' + product.color.name + '</td>' +
                        '<td>' + product.size.name + '</td>' +
                        '<td>' + product.quantity + '</td>' +
                        '<td>' + product.status + '</td>' +
                        '<td class="text-danger">' +
                        '<a href="#"><i class="ti-close" style="margin-right: 15px"></i></a>' +
                        '<a href="#"><i class="fas fa-edit"></i></a>' +
                        '</td>' +
                        '</tr>';
                    $('#product-table tbody').append(row);
                });
            }


            // Hiện form khi click nút Insert
            $('#show-form-btn').on('click', function () {
                $('#form-section').css('display', 'block');
                $('#colorSelect, #sizeSelect').select2();
                console.log("Form hiển thị và Select2 đã được khởi tạo.");
            });

            // Ẩn form khi click nút Cancel
            $('#cancel-btn').on('click', function () {
                $('#form-section').css('display', 'none');
            });

        })

        //confirm before delete
        function showDeleteModal(url) {
            $('#deleteForm').attr('action', url);
            $('#deleteModal').modal('show');
        }
    </script>
</div>
<!--End Layout-->


</body>
</html>